doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title About page
    body
        header 
            nav
        h1 Lorem ipsum dolor sit.
        main
            section 
                p. 
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit aperiam eum cumque nobis praesentium error a, perferendis veniam reiciendis maiores amet quaerat quisquam itaque sed eius odio repellat recusandae omnis. Fuga labore voluptatum nulla in cum animi sed laboriosam amet saepe officiis possimus, non iste est dolore reprehenderit tempore. Voluptatibus?
        include ./footer.pug